.inline-block {
    display: inline-block;
    vertical-align: top;
}

.fancyName {
    display: inline-block;
    text-align: left;
    font-size: 25px;
    margin:0;
    padding: 0;
    position: absolute;
    margin-top: 70px;
    padding-left: 50px;
    color:#FCEDD4;
    z-index: 1;
    font-family: 'Over the Rainbow', sans-serif;
    
}
nav {
    display: inline-block;
    width: 96%;
    padding: 1%;
}
ul {
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    
}
li{
    display: inline;
    padding: 8px;
}

body, html {
    height: 100%;
}
.heroImg {
    background-image: url(../images/nathalia-arantes-33IPVbOpcn4-unsplash\ 1.png);
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}
#hero-text-title {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FCEDD4;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 38px;
}
#hero-text-main {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FCEDD4;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#photoCredit {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 17px;
    color:  #EF8432;
}
a {
    color: #EF8432
}
.title {
    text-align: center;
    color: #041523;
    font-size: 36px;
}
.title2 {
    text-align: center;
    color: #041523;
    font-size: 25px;
}
.square1, .square2, .square3 {
    flex-direction: center;
    justify-content: center;
    display: inline-block;
    vertical-align: center;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 35px;
    background-color: #FCEDD4;
    margin: 5%;
}
#caseStudy1 {
    align-items: center;
    justify-content: center;
    display: inline-block;
    vertical-align: center;
}
.textV {
    padding-right: 20px;
    padding-top: 10px;
    float: center;
    margin: auto;
    width: 20%;
    padding: 10px;
}
.imageV {
    max-width: 25%;
    max-height: 15%;
    float: left;
}

#caseStudy2 {
    align-items: center;
    justify-content: center;
    display: inline-block;
    vertical-align: center;
}
.textP {
    padding-right: 20px;
    padding-top: 10px;
    float: center;
    margin: auto;
    width: 20%;
    padding: 10px;
}
.imageP {
    max-width: 25%;
    max-height: 15%;
    float: right;
}
.colabText {
    text-align: center;
    float: center;
    margin: auto;
    width: 60%;

}
.myFace, .socialImgs {
    float: right;
    width: 40%;
    padding: 10px;
}
.socialImgs {
    top: 60%;
}

.phoneNum {
    text-align: center;
    float: center;
    margin: auto;
}

.copyright {
    text-align: center;
    float: center;
    margin: auto;
}